.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: var(--gap) 0;
}

.tab-radio {
  position: absolute;
  opacity: 0;
}

.tab-label {
  color: var(--text-on-surface-disabled);
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 4px 24px;
  transition: background 0.3s, color 0.3s;
  text-align: center;
}

.tab-label:hover {
  background: var(--background-elevation-01);
}

.tab-label:active {
  background: var(--secondary);
}

.tab-radio:checked+.tab-label {
  border-bottom: solid 2px var(--primary-dark-variant);
  color: var(--primary-dark-variant);
  cursor: default;
}

.tab {
  display: none;
  background: var(--background-elevation-01);
  order: 1;
  width: 100%;
}

.tab-radio:checked+.tab-label+.tab {
  display: block;
}
