{{ define "main" }}
  {{- if or (eq .Type "posts") (eq .Type "reviews") -}}
    <h1> {{ .Title }} </h1>
    <div id="front-meta">
      <p>
        Published: <time itemprop="datePublished" datetime="{{ .Date.Format "Jan 02, 2006" }}">
        {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFmt) }}
        {{- if ne .Date .Lastmod -}}
        </time>,
        Updated: <time itemprop="dateModified" datetime="{{ .Lastmod.Format "Jan 02, 2006" }}">
            {{ .Lastmod.Format (default "January 2, 2006" .Site.Params.dateFmt) }} </time>
        {{- else -}}
        </time>
        {{- end -}}
      </p>
      {{- if (eq .Params.Toc true) -}}
        <details>
        <summary>
          Table of Contents
        </summary>
        {{ .TableOfContents }}
        </details>
      {{- else -}}
        <hr>
      {{- end -}}
    </div>
  {{- end -}}

  {{ .Content }}

  {{- if or (eq .Type "posts") (eq .Type "reviews") -}}
    {{ $currRellink := substr .RelPermalink 0 -1 }}
    {{ $currContent := .Content }}
    {{ $backlinks := slice }}
    {{ $forwardlinks := slice }}
    {{ range (where (where .Site.Pages ".Section" "in" (slice "posts")) ".Params.ignore" "!=" "true") }}
        {{ $found := findRE $currRellink .Content 1 }}
        {{ if $found }}
          {{ $backlinks = $backlinks | append . }}
        {{ else }}
          {{ $rellink := substr .RelPermalink 0 -1 }}
          {{ $found = findRE $rellink $currContent 1 }}   
          {{ if $found }}
            {{ $forwardlinks = $forwardlinks | append . }}
          {{ end }}
        {{ end }}
    {{ end }}

    {{ $related := append $backlinks $forwardlinks }}
    {{- if ge (len $related) 1 -}}
      <div class="seriesblock">
        <div class="title">
          Related Posts:
        </div>
        <div class="contents">
          <ul>
            {{ range $i, $e := $related }}
            <li> <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{- end -}}
    <!--

    -->
    <div style="font-style: italic;" class="post-tags">
      {{ .Page.WordCount }} words
      &mdash;

      {{ $list := (.GetTerms "tags") }}
      {{ $len := (len $list) }}

      under
      {{ range $i, $e := $list }}
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{- if not (eq (add $i 1) $len) -}},{{- end -}}
      {{ end }}
    </div>
    {{- if .Params.series -}}
      <div class="seriesblock">
        <div class="title">
          Other posts in the <b>{{ .Params.series }}</b> series:
        </div>
        <div class="contents">
          <ul>
            {{ range (where .Site.Pages ".Params.series" "eq" .Params.series)}}
            <li> <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{- end -}}
  {{- end -}}
{{ end }}
